name: butler

on:
    issue_comment:
        types: [created]

permissions:
    pull-requests: write
    issues: write
    contents: read

jobs:
    chat:
        runs-on: ubuntu-latest
        steps:
            - name: Run OpenAI API
              id: openai
              uses: ca-dp/code-butler@v1
              with:
                  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  cmd: chat
                  comment_body: ${{ github.event.comment.body }}
                    

