name: butler

on:
    issue_comment:
        types: [created]

permissions:
    pull-requests: write
    issues: write
    contents: read

jobs:
    chat:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Run Gemini CLI
              id: gemini
              uses: google-github-actions/run-gemini-cli@v0.1.16
              env:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
              with:
                  gemini_api_key: ${{ secrets.GEMINI_API_KEY }}
                  prompt: "You are a helpful assistant. The user said: ${{ github.event.comment.body }}"

            - name: Show Gemini output
              run: echo "Hello ${{ steps.gemini.error }}"
                    

